<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="Code - OSS"> <action name="Execute">
                <execute>code-oss</execute>
            </action> </item>
            <item label="Electron 19"> <action name="Execute">
                <execute>electron19</execute>
            </action> </item>
            <item label="IDLE (Python IDE)"> <action name="Execute">
                <execute>idle</execute>
            </action> </item>
            <item label="Python"> <action name="Execute">
                <execute>alacritty -e python</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="AA Fire"> <action name="Execute">
                <execute>alacritty -e aafire -driver slang</execute>
            </action> </item>
            <item label="Leafpad"> <action name="Execute">
                <execute>leafpad</execute>
            </action> </item>
            <item label="Neovim"> <action name="Execute">
                <execute>alacritty -e nvim</execute>
            </action> </item>
            <item label="Vim"> <action name="Execute">
                <execute>alacritty -e vim</execute>
            </action> </item>
        </menu>
        <menu id="18" label="Games">
            <menu id="9" label="Adventure">
                <item label="Sclient"> <action name="Execute">
                    <execute>sclient</execute>
                </action> </item>
            </menu>
            <menu id="10" label="Arcade">
                <item label="PacMan"> <action name="Execute">
                    <execute>pacman</execute>
                </action> </item>
            </menu>
        </menu>
        <menu id="6" label="Graphics">
            <item label="GNU Image Manipulation Program"> <action name="Execute">
                <execute>gimp-2.10</execute>
            </action> </item>
            <item label="The GIMP"> <action name="Execute">
                <execute>gimp</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="mpv Media Player"> <action name="Execute">
                <execute>mpv --player-operation-mode=pseudo-gui</execute>
            </action> </item>
            <item label="ncmpcpp"> <action name="Execute">
                <execute>alacritty -e ncmpcpp</execute>
            </action> </item>
            <item label="OBS Studio"> <action name="Execute">
                <execute>obs</execute>
            </action> </item>
            <item label="Qt V4L2 test Utility"> <action name="Execute">
                <execute>qv4l2</execute>
            </action> </item>
            <item label="Qt V4L2 video capture utility"> <action name="Execute">
                <execute>qvidcap</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="Avahi SSH Server Browser"> <action name="Execute">
                <execute>bssh</execute>
            </action> </item>
            <item label="Avahi VNC Server Browser"> <action name="Execute">
                <execute>bvnc</execute>
            </action> </item>
            <item label="FireFox"> <action name="Execute">
                <execute>firefox</execute>
            </action> </item>
            <item label="Transmission"> <action name="Execute">
                <execute>transmission-gtk</execute>
            </action> </item>
            <item label="Zoom"> <action name="Execute">
                <execute>zoom</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="Zathura"> <action name="Execute">
                <execute>zathura</execute>
            </action> </item>
        </menu>
        <menu id="4" label="Science">
            <item label="bc"> <action name="Execute">
                <execute>alacritty -e bc</execute>
            </action> </item>
            <item label="dc"> <action name="Execute">
                <execute>alacritty -e dc</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="Alacritty"> <action name="Execute">
                <execute>alacritty</execute>
            </action> </item>
            <item label="Dash"> <action name="Execute">
                <execute>alacritty -e dash -i</execute>
            </action> </item>
            <item label="File Manager PCManFM"> <action name="Execute">
                <execute>pcmanfm</execute>
            </action> </item>
            <item label="GIT"> <action name="Execute">
                <execute>alacritty -e git</execute>
            </action> </item>
            <item label="kitty"> <action name="Execute">
                <execute>kitty</execute>
            </action> </item>
            <item label="ranger"> <action name="Execute">
                <execute>alacritty -e ranger</execute>
            </action> </item>
            <item label="urxvt"> <action name="Execute">
                <execute>urxvt</execute>
            </action> </item>
            <item label="urxvt (client)"> <action name="Execute">
                <execute>urxvtc</execute>
            </action> </item>
            <item label="urxvt (tabbed)"> <action name="Execute">
                <execute>urxvt-tabbed</execute>
            </action> </item>
            <item label="Xfce Terminal"> <action name="Execute">
                <execute>xfce4-terminal</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <menu id="21" label="GNOME">
                    <item label="Bluetooth Manager"> <action name="Execute">
                        <execute>blueman-manager</execute>
                    </action> </item>
                    <item label="Firewall Configuration"> <action name="Execute">
                        <execute>gufw</execute>
                    </action> </item>
                </menu>
                <menu id="35" label="Xfce">
                    <item label="Bluetooth Adapters"> <action name="Execute">
                        <execute>blueman-adapters</execute>
                    </action> </item>
                </menu>
                <item label="Customize Look and Feel"> <action name="Execute">
                    <execute>lxappearance</execute>
                </action> </item>
                <item label="Default applications for LXSession"> <action name="Execute">
                    <execute>lxsession-default-apps</execute>
                </action> </item>
                <item label="Desktop Preferences"> <action name="Execute">
                    <execute>pcmanfm --desktop-pref</execute>
                </action> </item>
                <item label="Desktop Session Settings"> <action name="Execute">
                    <execute>lxsession-edit</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Preferred Applications"> <action name="Execute">
                    <execute>libfm-pref-apps</execute>
                </action> </item>
                <item label="Qt5 Settings"> <action name="Execute">
                    <execute>qt5ct</execute>
                </action> </item>
                <item label="Xfce Terminal Settings"> <action name="Execute">
                    <execute>xfce4-terminal --preferences</execute>
                </action> </item>
            </menu>
            <item label="Avahi Zeroconf Browser"> <action name="Execute">
                <execute>avahi-discover</execute>
            </action> </item>
            <item label="conky"> <action name="Execute">
                <execute>conky --daemonize --pause=1</execute>
            </action> </item>
            <item label="Conky"> <action name="Execute">
                <execute>alacritty -e conky</execute>
            </action> </item>
            <item label="GParted"> <action name="Execute">
                <execute>gparted</execute>
            </action> </item>
            <item label="Hardware Locality lstopo"> <action name="Execute">
                <execute>lstopo</execute>
            </action> </item>
            <item label="Htop"> <action name="Execute">
                <execute>alacritty -e htop</execute>
            </action> </item>
            <item label="OpenJDK Java 19 Console"> <action name="Execute">
                <execute>jconsole</execute>
            </action> </item>
            <item label="OpenJDK Java 19 Shell"> <action name="Execute">
                <execute>alacritty -e jshell</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>alacritty -e pstree</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>alacritty -e pstree.x11</execute>
            </action> </item>
            <item label="Timeshift"> <action name="Execute">
                <execute>timeshift-launcher</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                <execute>alacritty -e top</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="About Xfce"> <action name="Execute">
                <execute>xfce4-about</execute>
            </action> </item>
            <item label="Info"> <action name="Execute">
                <execute>alacritty -e info</execute>
            </action> </item>
            <item label="MATE Calculator"> <action name="Execute">
                <execute>mate-calc</execute>
            </action> </item>
            <item label="picom"> <action name="Execute">
                <execute>picom</execute>
            </action> </item>
            <item label="Plank"> <action name="Execute">
                <execute>plank</execute>
            </action> </item>
            <item label="Ulauncher"> <action name="Execute">
                <execute>env GDK_BACKEND=x11 /usr/bin/ulauncher --hide-window</execute>
            </action> </item>
            <item label="Xarchiver"> <action name="Execute">
                <execute>xarchiver</execute>
            </action> </item>
            <item label="Xev"> <action name="Execute">
                <execute>alacritty -e xev</execute>
            </action> </item>
            <item label="Xkill"> <action name="Execute">
                <execute>xkill</execute>
            </action> </item>
            <item label="Xrefresh"> <action name="Execute">
                <execute>xrefresh</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
