[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sachin/public]
row=5
col=1

[/home/sachin/AndroidStudioProjects]
row=8
col=1

[/home/sachin/pico]
row=1
col=1

[/home/sachin/music]
row=0
col=1

[/home/sachin/pix]
row=2
col=1

[/home/sachin/Arduino]
row=4
col=0

[/home/sachin/andro]
row=0
col=2

[/home/sachin/ADB+twrp vivo y21]
row=10
col=0

[/home/sachin/download]
row=7
col=0

[/home/sachin/videos]
row=6
col=1

[/home/sachin/website]
row=7
col=1

[/home/sachin/projects]
row=4
col=1

[/home/sachin/archin]
row=3
col=0

[/home/sachin/go]
row=10
col=1

[/home/sachin/code]
row=5
col=0

[/home/sachin/uad_gui-linux-opengl]
row=9
col=1

[/home/sachin/garbage]
row=8
col=0

[/home/sachin/docs]
row=6
col=0

[/home/sachin/Postman]
row=3
col=1

