* {
    font-family: monospace, Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 13px;
}

window#waybar {
    /* background: rgba(21, 18, 27, 1); */
    background: rgba(40, 42, 54, 1);
    color: #f9e2af;
    padding: 10px 0;
}

tooltip {
    background: #1e1e2e;
}

#workspaces button {
    padding: 3px;
    /* color: #313244; */
    color: #44475A;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border: none;
    /* border-radius: 100%; */
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#msg,
#cpu,
#memory,
#backlight {
    padding: 0px 5px;
    /* margin: 3px 0; */
}

#cpu {
    color: #4EF877;
}

#memory {
}

#msg {
    color: #ff0;
}

#tray {
    margin-right: 10px;
}

#workspaces {
    /* background: #1e1e2e; */
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: #89dceb;
    /* margin-left: 10px; */
}

#custom-language {
    color: #f38ba8;
}

#custom-updates {
    color: #f5c2e7;
}

#window {
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    /* color: #282A35; */
    /* background: #8B8FF3; */
}

#network {
    color: #BDABAA;
}

#pulseaudio {
    color: #89b4fa;
}

#pulseaudio.microphone {
    color: #cba6f7;
}

#battery {
    color: #a6e3a1;
}

#custom-weather {
}
